[2016-04-12 19:52] bterlson opened #1 "Syntax Strawmen"
One big question is what the syntax is. I think there are two primary proposals floating around, both modifications of the `return` keyword - statements starting with:

* !return
* return continue

(Note that return! doesn't work due to conflicting with existing negation syntax)

One concern with a statement form is that arrow function concise bodies couldn't contain a tail call. That could argue

[2016-04-12 20:01] bterlson commented on #1
I would hope that any syntax we arrive at will make it a syntax error for opting into tail calls and subsequently writing code that involves calls not in tail position. The exact mechanism for this is yet to be determined but it seems possible and desirable in my opinion.

[2016-04-12 20:05] bterlson opened #2 "Runtime Error for explicit tail calls that fail"
As raised by @efaust and others at the March meeting, it is possible that some tail calls, while being syntactically valid, cannot be completed. The one example we have is cross-realm tail calls. In these cases do we want to throw a runtime error? Or do we want to leave it to the engine to decide how best to proceed?

My feeling is that a warning is acceptable if the times we know tail calls fail

[2016-04-12 22:01] allenwb commented on #2
I don't buy the contention that it is not possible (or practical) to implement cross-realm calls using PTC semantics. A concern that was raised at the meeting (hope we get meeting notes soon) was that it would be impossible to do so without violating the spec. language that defines PTC semantics. The concern seemed to be that extra "resources" were required to do cross-realm calls and that the spe

[2016-04-12 22:30] littledan commented on #1
FWIW I ran a Twitter poll on a few syntaxes, and `return continue` came out the strong winner: https://twitter.com/littledan/status/716850181409353728 . Most people who responded argued for a contextual keyword (e.g., `goto`), but that would face the issue that `goto (f(x))` would parse as a function call, and break the invariant that you can put parentheses around things that come after `return`-

[2016-04-12 22:37] littledan commented on #2
@allenwb I see a few different readings to the possible assertion that no change is needed here; I'm not sure which you're getting at:
- Claim: Mozilla should be able to avoid allocating O(n) resources for cross-origin tail calls, while preserving its 'container' membrane security model (Mozilla has said this is not possible)
- Claim: The resources that Mozilla allocates in its cross-realm tail ca

[2016-04-12 23:49] allenwb commented on #2
I don't believe that there is any semantics in the actual ES spec. (at least as of ES2015) that requires additional overhead on cross-realm calls. A container membrane is not part of the ES semantics so any think Moz may be doing in this regard has to be treated as a non-standard extensions and explained in some manner. That explanation might well include intermediary non-tail calls.  If so, their

[2016-04-13 00:26] getify commented on #1
First, I don't _want_ any syntax. But operating for the moment on the assumption that it may end up having to happen, let me elaborate: I am imagining some sort of "decoration" on the syntax of a function (and potentially also a generator) declaration that indicates all PTCs from inside that function should be optimized as tail calls. For example:

[code]

I originally liked the `#`, but I underst

[2016-04-13 00:31] getify commented on #1
But syntax bikeshedding aside, my main reasoning for wanting to use a function-level syntax instead of a call-site syntax is the idea that call-site syntax creates a footgun if I annotate one of my PTCs but forget to annotate another intended one. For the record, in my recursive coding, it's quite common that I have two or more PTCs in a function. That's especially true when you consider the vario

[2016-04-13 17:47] syg commented on #2
I thought we had consensus on giving allowance to cross-realm tail calls during the last meeting, and that such allowance is _not_ tied to STC. That is, I thought we got the go-ahead to write a PR last meeting, and it wasn't going to be part of the STC proposal that would go through The Stages.

That said, I'll try to address @allenwb. Your argument sounds like a "sufficiently smart membranes" arg

[2016-04-13 18:11] littledan commented on #1
@getify There is no spec which says that a stack overflow will throw any particular kind of recoverable error, as opposed to crashing the page (as out-of-memory conditions do on many platforms), or allocating all of the memory in the system for the stack which could cause another OOM at any time. Therefore, in a pre-PTC world (e.g., the world of stable browsers), this pattern would not be guarante

[2016-04-13 18:16] littledan commented on #2
@syg could you explain more about the possibility of this wrapper elimination? It seems to come down to this:

We've all done a lot of work to implement ES2015, but to me this sounds basically infeasible in the general case, given how complicated mutually tail recursive functions could be. Is that your understanding?

[2016-04-13 18:37] littledan opened #3 "Is it web-compatible to revisit proper tail calls?"
@msaboff started a discussion at https://github.com/tc39/ecma262/issues/535 of whether it would be too late and/or bad for compatibility to revisit implicit proper tail calls. As that pertains to the proposal in this repository, rather than anything in the main ecma262 repository, let's have the discussion here. See that thread for discussion so far, but to summarize the arguments:

**Too late to

[2016-04-13 18:50] littledan commented on #3
in https://github.com/tc39/ecma262/issues/535#issuecomment-209588804 , @msaboff mentioned that, if PTC were optional (and not prohibited), then some browsers may ship it, causing some users to depend on it, and therefore causing compatibility issues.

My response would be that ES5 also had this problem; it also permits implicit proper tail calls. However, they were not shipped in any mainstream im

[2016-04-13 18:51] bterlson commented on #3
Using our typical heuristic of web compatibility (which is based on code currently being run by browsers today) a change here is certainly web compatible as web code does not depend on PTC to function. That may change in the future if implementations choose to ship PTC, however, but from what I've seen we do not make such assumptions when considering alternatives before us now.

[2016-04-13 18:52] littledan commented on #3
@msaboff @wycats @bterlson @allenwb @concavelenz @getify @geoffreygaren @dherman @erights

[2016-04-13 18:55] ljharb commented on #3
While I think "We think it should be a goal of the standard's evolution to avoid knowingly breaking existing standards-based code." in https://github.com/tc39/ecma262/issues/535#issuecomment-209577490 would be nice to have - the ES spec has often knowingly broke existing standards-based code, as long as it didn't break actual code on the web.

In other words, for better or worse, the metric has co

[2016-04-13 19:45] getify opened #4 "Syntax-based PTC makes adoption/migration harder"
I have mentioned this in other threads, but it's important enough that I don't want to have it get lost in the shuffle.

I understand why explicit syntax is being asked for, but one major downside of an explicit syntax for opting into PTC (beyond just literally making a PTC-formatted call) is that it makes adoption of recursion patterns harder than the implicit PTC did.

## Background (Implicit PT

[2016-04-13 19:50] msaboff commented on #3
I would prefer that we keep the discussion on one thread.  Splitting this into multiple threads makes it difficult to track the arguments being made especially with cross thread links.

[2016-04-13 19:57] getify opened #5 "Function-level annotation rather than per call site"
As I [described here](https://github.com/tc39/proposal-ptc-syntax/issues/1#issuecomment-209162923), I would like to register dislike to the idea of this explicit PTC syntax being call-site oriented. I would like the syntax opt-in to be an annotation on the function itself.

I won't repeat myself from that thread of messages, but the TLDR is that I expect there will be more, potentially many more,

[2016-04-13 20:03] getify commented on #5
And I know this is likely to evoke several strong objections, but what about an annotation similar to `"use strict"`, but only per function, like:

[code]

It would remain to be seen how that would interact with actual `"use strict"`, but I don't think that's a huge issue since PTC only works for strict mode anyway. IOW, the easy solution is that `"use tail calls"` would imply `"use strict"`.

[2016-04-13 20:10] getify commented on #1
Would it be possible to accomplish the explicit syntax opt-in via existing valid syntax rather than new syntax? For example, in the vein of how ASM.js took existing (but uncommon) syntactic patterns as annotations of desired optimizations, I'm imagining something like:

[code]

[2016-04-13 20:19] littledan commented on #1
Let's keep this thread on, what should the sigil be if it's per-return, and discuss function-wide syntaxes in https://github.com/tc39/proposal-ptc-syntax/issues/5 . thanks for filing that, @getify .

That `return foo, value` syntax seems like it would work, but do users find it intuitive?

[2016-04-13 20:23] ljharb commented on #1
`return foo, value` is already valid syntax, due to the comma operator - I don't think that could work.

[2016-04-13 20:25] getify commented on #1
@ljharb my intent is to do exactly that, just like ASM.js did. I'm likening the "optimization" of PTC to the compilation optimizations that ASM did, by inferring that expressions with | 0 are intended to be ints, or whatever.

[2016-04-13 20:27] ljharb commented on #1
aha, interesting - makes sense. wouldn't that run the (tiny) risk of opting a non-tail-call function into PTC? Surely somebody somewhere is using that syntax.

In the case of asm.js, "use asm" is the thing that enables those optimizations, so there's no compat hazard.

[2016-04-13 20:29] bterlson commented on #1
I don't see the value of either of the subset proposals over an explicit syntax personally. The syntax is also highly confusing (can I remove this useless block? Hmm....) and difficult to read.

[2016-04-13 20:31] getify commented on #1
Yes, but that only means that this function call _could_ run slower than it used to (which btw is already possible... engines regress performance from time to time). If you discovered the performance regression impacting your code, all you'd need to do to opt-out is slightly alter your pattern to avoid the specific narrow PTC pattern.

Whatever it would be, would need to be a narrow enough slice a

[2016-04-13 20:33] bterlson commented on #1
I'm coming to like return continue despite its verbosity. One key reason is arrow functions: an ergonomic usage for arrow functions with concise bodies seems necessary. `() => { return continue expr }` could be improved by `() => continue expr`. => still can be thought of as a shorthand for `{ return` which seems nice a nice property. Another option is `recur () => expr` but I like that less as th

[2016-04-13 20:33] getify commented on #1
I didn't argue the "why" behind this in this thread, because [there's another thread I started](https://github.com/tc39/proposal-ptc-syntax/issues/4) to explain why I'm objecting to the _new_ syntax in the first place. TLDR: I think new syntax makes the migration/adoption story for tail call based coding much less friendly. The advantage of using existing syntax is that it's easier to bridge to it

[2016-04-13 20:37] bterlson commented on #4
Are there any bridge/adapter patterns that don't involve relying on the non-standard/future-hostile semantics of OOM error exceptions being catchable (and also relying on the recursive function being provably exception-free)? Also curious to check out what others have done if you can link to them.

[2016-04-13 20:57] syg commented on #2
@littledan Let me give a concrete example for what I think @allenwb means.

Given a realm _R_, let the operation **Wrap_**_R_(o) mean creating a wrapper for o inside realm _R_.

WLOG let there be 2 realms **A** and **B**. In a cross-realm mutual recursion between **A** and **B** that starts in **A**, we will have a chain of **Wrap** operations like the following:

**Wrap_**_A_(**Wrap_**_B_(**Wrap_

[2016-04-14 03:15] littledan commented on #4
I responded to this in [another place](https://github.com/tc39/proposal-ptc-syntax/issues/1#issuecomment-209573900), but I just wanted to move that comment over here:

[2016-04-14 03:39] getify commented on #4
It sure seems like a de-facto standard from a web compat perspective. I've tested extensively. I didn't find any place where browsers just let the recursion go unbounded until crash. I'd be happy if someone could point to a device/browser combo where this doesn't hold?

All of the supported envs where my code needed to run, the error was thrown for restraining the call stack. Pretty sure it was al

[2016-04-14 03:51] littledan opened #6 "Can (non-standard) stacks be preserved with implicit PTC, and does this matter?"
One concern raised at the March 2016 TC39 meeting was how/whether it's bad if stack frames were lost as part of implicit PTC. Although this had been considered in the past and TC39 consensus still came down on the side of implicit PTC, it may warrant new consideration now, both because the DevTools teams of several browsers are being brought into the discussion in a way which they hadn't been befo

[2016-04-14 03:52] littledan commented on #6
I'm curious whether other implementors and users find ShadowChicken to be an acceptable strategy.

@bmeurer from V8 team expressed this concern about ShadowChicken:

[2016-04-14 03:53] littledan commented on #4
@getify Could you point to an example of the kind of code you put in production?

[2016-04-14 04:01] littledan opened #7 "Are tail calls slower than non-tail-calls?"
We have heard different things from different browsers:
- JSC has reported that their PTC implementation makes existing code run faster.
- Microsoft has a bug explaining why their current calling convention makes tail calls slower than ordinary calls https://github.com/Microsoft/ChakraCore/issues/796
- V8 has not found a regression on large benchmarks with our PTC implementation, but it might be p

[2016-04-14 04:27] littledan commented on #5
In general, I'm cautious but not entirely opposed to function-level marking. You are basically saying, "this is a function which plans to recurse; I don't care about its stack frame starting from some point". It seems like it would be fairly easy to implement within V8. It is nice to solve the arrow function problem this way. However, I do have some reservations:
- I think we should consider # as

[2016-04-14 05:21] ljharb commented on #5
@getify if the syntax was on the return, but it opted in the entire function call (and any functions _that_ called, in turn), would that cover your concerns? if so, then @littledan, would that be reasonable?

[2016-04-14 05:50] efaust commented on #5
@ljharb So then a given function would have to treat all tail-position calls as tail calls optionally based on which syntax was used to call it? That seems even less intuitive than what we have now, at least to my first thought.

[2016-04-14 05:53] ljharb commented on #5
@efaust my thinking was that the "eligibility for tail calls" would be determined at call-time, not at definition time - since it already depends on which syntax was used to call it. However, if it seems less intuitive, that's a strong signal that it probably is :-)

[2016-04-14 05:56] efaust commented on #5
Yeah, OK. I think that's both worse for implementors _and_ worse for users.

It also seems like it precludes being able to call a function that has to make tail calls from a non-tail position, which is very odd. Regardless of my intuitions about user-friendliness in general, I think this concern (still assuming I correctly understand) is lethal.

[2016-04-14 13:23] getify commented on #5
@littledan

Am I missing a grammatical issue with reusing `#`? We have all kinds of places where some operator means different things in different contexts. For example, the extreme overloading of `{` / `}`, the lvalue/rvalue context of `...`, etc.

Anyway, I don't care _that_ much what the sigil would be. I do think it would be nice if it was obviously different, and the word form is not, IMO, as

[2016-04-14 13:31] getify commented on #5
@ljharb

I think surely you mean "at the call-site", because otherwise someone wouldn't be able to call your recursive `foo` function as just `foo(..)`.

But the problem with pushing the sigil to the outer call-site is that you're shifting the burden and footguns to the users of code rather than authors. If I write a function that uses recursion, I don't necessarily want the user of that function

[2016-04-14 16:42] ljharb commented on #5
@getify no, i'd meant inside the function's return value (ie, where the tail positioned call occurred), but https://github.com/tc39/proposal-ptc-syntax/issues/5#issuecomment-209774316 convinces me that it's not a good idea.

[2016-04-14 18:05] bterlson commented on #4
I do not believe this is a pattern that gets used widely and I think there are major drawbacks that make such a pattern inadvisable for developers to use. As such I don't believe this should be a major constraint in our decision making process.

Regarding handling of OOM errors and standards, it's likely true that it is non-standard web compatible today (although I have heard in the past that some

[2016-04-14 18:18] getify commented on #4
I appreciate your spec-centric view of this, but my perspective is non-spec-centric, and rather more pragmatic. What's frustrating is that you discount this idea as "not widespread" and yet really offer no other suggestion for how developers can get over the cliff between "non tail call" and "tail call" other than just waiting.

I never claimed this pattern was ideal -- far from it -- but I do thi

[2016-04-14 18:24] bterlson commented on #5
I don't think a function sigil is a good idea. Tail-callishness is a property of the call site so it seems critical to me that the sigil for opting into it is very close to the call site. I disagree that this conceptual mismatch is something we shouldn't worry about. This is proposing some sort of mode switch for the PTC proposal we already have and solves some problems but not others. Getting int

[2016-04-14 18:39] bterlson commented on #4
Please don't confuse my position in this case with a general statement about adoption/migration paths, which is something I (and others involved in the standards process) consider extremely important. Also your point about impact on our priority list is not true (and irrelevant anyway if it's not a pattern people use in practice). My position is that for tail calls there is not a reasonable bridge

[2016-04-14 19:13] getify commented on #4
I don't have any of that. I only have what I've presented, and the one production (unfortunately non-OSS) code base that I put it into. Well, that and the fact that it's included in my ES6 book which has a fairly strong readership.

---

I would remind you of a conversation we had in person about a year ago, which I think is still the case: that it's a mistake -- I think -- to rely so heavily on r

[2016-04-14 19:32] getify commented on #5
First, that seems inconsistent with the decision TC39 already made to put that restriction on `"use strict"` in the first place. I didn't like it, many others didn't either. But it's a fact. That fact has costs.

Secondly, and more importantly:

That resolves all those concerns.

Given that we're discussing changing the spec, and as you and others keep pointing out, PTC hasn't shipped, I don't thi

[2016-04-14 20:02] bterlson commented on #4
You seem to be misinterpreting my argument, so to restate more simply: there is no known adapter pattern that I would want to encourage people to use, and further, regardless of it I would encourage it, I don't see what you have presented getting used. If there were a reasonable bridging strategy (or those that I consider unreasonable were nonetheless getting used) then I would reconsider this pos

[2016-04-14 20:07] getify commented on #4
And my point, restated simply: no bridging pattern has any chance at all of existing or being adopted if we put a hard syntax gate on this feature.

[2016-04-14 20:08] bterlson commented on #4
Agreed, and since there is no bridging pattern for PTC either (other than transpilation, I suppose), it's not a point for or against either proposal.

[2016-04-14 20:34] bterlson commented on #5
It's not. "use strict" is not useful at function granularity except for IIFE's which don't need non-simple parameter lists. We're talking about something specifically for function-level opt-in.

I disagree. If a call is in tail position the assumption that you get constant stack space usage should also be true in practice.

What is this "other strategy" that gives the same benefits while being fas

[2016-04-15 00:38] concavelenz commented on #6
I wanted to add that Google Web products also collect stack traces from the field and that our optimizer likely causes more the average number of PTC calls.  So implicit PTC is worrisome

[2016-04-15 03:36] getify commented on #5
I don't think most developers thinking about recursion are necessarily worried about (or even know how to use devtools to exactly profile) that there's literally only one stack frame allocated, as they are that the recursive function call will just use O(1) stack space in general, that they'll not run out of memory no matter how long their recursion runs. That leaves a small door open for optimiza

[2016-04-15 21:45] bterlson commented on #5
Can you explain how the ability to do such tricks argues in favor of function-level sigil?

[2016-04-15 22:30] getify commented on #5
It was really a side note more than anything else.

But it does support my overall thesis in that it refutes one of the above concerns, namely that if you opt a function into being PTC-eligible (with the function level sigil) it means that all PTC-formatted calls _have_ to be tail calls, even if there are cases where that hurts perf. IOW, that might not necessarily have to always be true.

Combine

[2016-04-15 22:37] getify commented on #5
Put another way: function-level syntax could be framed as less direct and explicit about expectations of each and every call site inside the function. That means it leaves open more of a gap for the engines to monitor and figure out what really will benefit from a tail call and what won't. Imagine describing the feature not as "unconditional tail calls always" but as "can do tail calls when it nee

[2016-04-20 01:55] littledan opened #8 "Should `continue` be part of an expression?"
I see two ways that the `return continue` syntax could be specified:

**Option A**

There are two fixed special forms, `return continue` and `=> continue`. These evaluate whether the following expression contains a tail call in the same way as in ES2015.

**Option B**

`continue` *MemberExpression Arguments* is a new way of making a function call be a tail call. It can only be used in expression c

[2016-04-20 07:56] claudepache commented on #5
I think that a function-level syntax is a bad idea for the user, for the following reasons:
- When you read the code, even in case of function-level syntax, you have to look at call-sites anyway in order to determine whether a tail-call is triggered. Plus, it is easier to a recognize a tail-call by looking for an explicit syntax than by analysing a grammatical tail-position.
- Having to mark expli

[2016-04-21 20:45] bterlson commented on #8
I feel like `return continue` and `=> continue` are more conservative and thus more likely to be acceptable to people. I think the distinction between expr and statement forms can also get confusing.

However, option B does have the benefit of working better with ternary without requiring a complicated grammar.

(Note that option B would need to also include `MemberExpression TemplateLiteral`).

[2016-04-21 23:02] bterlson commented on #8
Now that I've gone over the options, I don't think the latter option is that onerous, and it has the huge advantage of keeping continue right before the call. Unless I'm missing something obvious, grammatically, then I think ReturnExpression : `continue MemberExpression Arguments` and friends is the way to go. I've took a stab at defining this grammar here: https://tc39.github.io/proposal-ptc-synt

[2016-04-22 01:19] ofrobots commented on #6
I am very worried by implicit tail call elision, from a Node.js / server side perspective. Post-mortem debugging and in-production profiling are important use cases on the server side.

It is very common practice for server side applications to do profiling in production. This entails gathering stack traces and associating them events being profiled (e.g. cpu ticks, allocations, etc.). TCE would r

[2016-04-22 11:13] claudepache commented on #8
I find Option B more natural, because tail position is a property of a (sub)expression, not of the entire _return_ statement.

In that stab, I think that the _ReturnExpression_ production would be better named _TailCallExpression_.

[2016-04-22 17:56] bterlson commented on #8
@claudepache Agreed, just pushed an update for that.

[2016-04-26 22:24] davepacheco commented on #6
For what it's worth, the ShadowChicken strategy described above would not be very useful for users of DTrace and core-file-based postmortem debugging for Node.js.

Node.js today (since 0.6.7) supports the DTrace ustack helper mechanism, which allows DTrace to construct JavaScript stack traces from running Node programs without any assistance from the program itself.  This is necessary in order to,

[2016-04-27 19:33] efaust opened #10 "Current syntax proposal fails to allow or disallow various necessary productions"
The current PTC spec says that it's not a tail call to make a call that would otherwise be in tail position inside
* try blocks
* catch blocks
* for-in loops
* for-of loops

There is currently nothing in the stc proposal that forbids return continue in these places.

Further, the current spec allows

[code]

to be in tail position, which we do not allow.

I think the dream of using a grammar param

[2016-04-28 03:00] dilijev commented on #5
These sorts of patterns are the type of thing that engines will try to optimize into the shape of a PTC. Making some kind of an exception for that pattern or patterns like it (or essentially assuming the developer meant to disable tail-call if they did anything other than the trivial pattern) seems counter-intuitive from an engine development perspective. (We have to make assumptions about develop

[2016-04-28 08:55] getify commented on #5
@dilijev the general direction of discussion here seems to clearly be moving away from engines having the freedom that decide implicitly what is and is not a tail call. The explicit syntax, and especially the call-site syntax most here seem to favor, don't give the engine the option of just rearranging some code to be a tail call if that's not what the dev wrote.

Especially from the perspective o

[2016-04-28 09:18] getify commented on #5
@claudepache

Can you please give an example of such, that could be statically identified before runtime?

what about my OP claim that call-site syntax is bad for the user? specifically, my concern of having two or more call-sites that you want to tail-call but accidentally only getting the explicit syntax in some of those call-sites and not others.

what I claim is that call-site syntax is "pit o

[2016-04-28 17:42] dilijev commented on #5
Yes, if we go with explicit syntax then we should expect the developer to declare their intent and do so in a proper position. However, if we were not going with the explicit syntax this might be a concern.

[2016-04-28 17:53] getify commented on #5
Why would you want to second guess (with code rewriting) in a function-level tail call world but not in a call-site world? I claim they're both explicit conditions, as compared to the purely implicit condition in ES2015.

IOW, why would I get an opt-out for call-site but not for function-level? if I mark my function as tail-call'y, i would want the engine to tail call all call-sites that are legit

[2016-04-28 18:25] dilijev commented on #5
With trivial bytecode optimizations in the engine, there would be no difference in the bytecode between `let x = foo(); return x;` and `return foo();`, that's all. So semantically, if the decision about tail call were made at parse time, then you're absolutely right that the decision could be made based on how the code looks, but if it were made anytime later, it's not as easy.

[2016-04-28 18:39] getify commented on #5
So in ES2015 (the way things currently are), you would turn `let x = foo(); return x;` into a `return foo()`, and thus **then** you'd implicitly tail-call it? That seems to violate the spirit of the ES2015 spec as far as I can tell. I interpret it as you're supposed to tail call actual PTCs as written, not code that an optimizer made look like a tail call.

If you implicitly tail-call something th

[2016-04-28 19:35] littledan commented on #5
ES2015 specifies based on surface syntax the set of constructs that are tail calls. It would not require that usage to be a tail call. However, the spec does not prohibt engines from optimizing that.

[2016-04-28 19:45] getify commented on #5
@littledan but clearly the engines eliding stack frames in those cases would violate user expectation, as this concern has been so vocally raised in other threads here. I didn't claim it was restricted by the explicit wording of the spec, but I think it would violate the spirit of the spec ("principle of least surprise").

In any case, I think it's a particularly weak argument that function-level

[2016-04-28 21:07] dilijev commented on #5
I could have been more clear about my concern here. I'm indicating that because the spec doesn't prevent us from turning those constructs into tail calls, and because it would be a matter of jumping through hoops to get the "expected" semantics when that is an optimizable construct, I'm making a point in favor of explicit syntax to more closely capture developer expectation: Do a STC if specified,

[2016-04-28 21:44] getify commented on #5
I can see many angles on why explicit call-site syntax makes it easier for engines to do tail calls. My point continues to be that I think this is more troublesome for developers (pit of failure). So if an engine _could_ do what I'm suggesting, I think that's enough for the proposal to stand on, even if it would be harder (more hoops) for the engine to achieve.

I don't want any explicit syntax. I

[2016-04-30 00:34] bobzhang opened #11 "Annotated tail call syntax (still valid es6/5)"
There is a drawback of current syntax tail call proposal, it **is not valid ES6/5 syntax.**  which means people will not take it serious for years. Even a transpiler could not take advantage of it.

Suppose we have some syntax like this( I know this is a horrible syntax, but hope my ideas are clear):

[code]

The code above is still valid code under any JS engine, it just happens to more efficient

[2016-04-30 00:35] bobzhang commented on #11
btw, I think it maybe a proper time to introduce annotations in Javascript, annotations are particular useful hints for compiler optimizations, but does not change its semantics significantly

[2016-04-30 00:41] bterlson commented on #11
PTC is about making `sum` above actually work for large n and not for making function calls faster. It is not clear (see #7) that PTC will result in noticeable speedups and in fact may result in perf losses in some implementations and some invocations.

You would not implement `sum` today like that because browsers without PTC would throw errors for large n. Same story with STC, except the error o

[2016-04-30 00:43] bobzhang commented on #11
@bterlson of course, it is a toy example, any decent transpiler can make self recursive call into a loop. The real case is for mutual tailcall. I believe it will be helpful to make JS a better backend

[2016-04-30 00:48] bobzhang commented on #11
Currently when we compile OCaml into Javascript, in some cases, it will cause stackoverflow(Ocaml support tailcall properly), I believe other transpiler will suffer the same issue.

Having annotated valid ES6/5 syntax tail call will make JS a better functional language backend.

[2016-04-30 01:21] bterlson commented on #11
The OCaml case is interesting... If an OCaml transpiler emitted a `return continue`, it wouldn't work in browsers that don't support tail calls. If it instead emitted ES6 PTC syntax, then it might work in browsers that don't support tail calls. Seems like both amount to the same - don't emit that code unless you can target only browsers that support it. I don't have a sense of how common OOM error

[2016-04-30 01:26] getify commented on #11
I've already made this case here: https://github.com/tc39/proposal-ptc-syntax/issues/1#issuecomment-209625730

And here: https://github.com/tc39/proposal-ptc-syntax/issues/4

In both cases, the tone of the responses in the threads seems to suggest doubt/disagreement that this position matters (much). :/

[2016-04-30 01:51] bobzhang commented on #11
@bterlson Here is an example of stackoverflow due to lack of tailcall support on the JS backend: https://github.com/ejgallego/jscoq/issues/13
 We do quite smart analysis even for mutual tail call( and I believe typescript/babel can do this too) but can not provide any guarantee without ES6 tailcall support.
Tail call is an essential feature of functional programming, it makes JS more expressive to

[2016-04-30 01:55] bobzhang commented on #11
A bunch of transpilers would appreciate a valid syntax (not just ocaml), like scalajs, typescript, babel, clojurescript, purescript, elm etc.

[2016-04-30 08:08] mcfedr opened #12 "Why is JS different?"
If I write C code, or Java, the compiler will optimise out tail calls.
The same issues of stacks must exist when debugging that code.
Why would JS be any different?

It seems like a lot of developers would miss out on potential speed increase. Even if now its not faster in all browsers, that is likely to change

[2016-05-02 22:12] littledan commented on #12
Last time I checked, tail calls are typically not optimized in Java because the JVM specification requires correct stack traces, which can be introspected at runtime.

For C, although some compilers (including GCC) have tail call optimization flags, I don't think they are in very widespread use, and definitely not standardized across implementations the way ES2015 or R5RS Scheme specifies.

[2016-05-02 22:18] littledan commented on #11
I don't believe that ignoring the tail aspect is a valid implementation. It changes behavior by making the space complexity asymptotically lower, which is a significant, non-backwards-compatible change, both for browsers with fixed and variable sized stacks (and both of these are widespread). Using an invalid syntax for tail calls is, therefore, a feature, not a bug.

Independent of STC vs PTC: De

[2016-05-02 23:10] bobzhang commented on #11
Tailcall is an essential feature in functional language, think about in c you don't have loop. Introducing an incompatible syntax will make it not relevant in next 3 years IMHO.

We can have something like

[code]

The transpiler can do it best to convert tailcall into loop offline, which means in most old browsers, it still work, but in modern browsers, it can handle larger data.

[2016-05-03 01:04] bterlson commented on #11
What is the difference between `tailcall return` and `return continue` (grammar aside)?

Fwiw, no one here is contesting the utility of tail calls. We recognize that this is essential for some languages. What I don't yet understand is why it's valuable that PTC syntax is valid non-PTC syntax (ie. why ES6 syntax and semantics are preferable to those proposed here).

[2016-05-03 19:46] bobzhang commented on #11
@bterlson thanks for recognizing the importance of tailcall !

For a functional language which tries to target JS as a backend, it will typically do two things: first it will try to pin-point  which functions are (mutual)recursive functions and try to convert it into a loop.

However, when it can not (some mutual recursive tail calls can get really complex), it can emit code like this

[code]

Not

[2016-05-03 19:53] efaust commented on #11
I'm not sure I understand. Even with no syntax at all, you /still/ have to figure out when it's safe to deploy code that relies on tail calls, since it just WON'T RUN without an engine's implementation of PTC. There is no way to cheat around that, regardless of syntax, if the loop conversions don't work in all cases.

[2016-05-03 20:23] bterlson commented on #11
Specifically, "we have to figure out the client's capability to deploy proper code" is true in either proposal. Either you have to test whether a client has PTC (presumably by calling a recursive function a suitable number of times to observe whether PTC is enabled) or STC (presumably by detecting if `return continue foo()` is a syntax error). You cannot simply emit ES5 code and hope clients have

[2016-05-03 21:32] bobzhang commented on #11
Basically it is impossible to compile proper functional languages into Javascript without tailcall support(unless you go with trampoline, which is too slow in practice).

However, given the smartness the transpiler can be, it is not a problem in practice (especially when the data is not too large), so for functional languages which rely on tailcall, it will do its best effort on old browsers which

[2016-05-03 22:55] littledan commented on #11
I don't think best effort makes much sense here. It would only work for toy programs, not real applications. Until it is supported natively in the target browser, it is important that cross-compilers use a trampoline or other strategy when the user code calls for a tail call.

[2016-05-04 00:17] bobzhang commented on #11
Even the whole ocaml compiler is bootstrapped in browser, I don't think if it is `toy program`
http://bloomberg.github.io/bucklescript/js-demo/
The fact is that in most cases, compilers of functional programming languages can do offline transformation to make it a loop, for too complex cases, we wish browsers could catch up
eventually.
I think `tailcall` is mostly a feature for transpilers to take

[2016-05-04 00:46] littledan opened #14 "How should direct eval be handled?"
What should be the semantics of
[code]
? Previously, in ES2015, `return eval("x")` is not a tail call if `eval` has its original value. Options:
- throw a runtime error
- do a non-tail-call despite the syntax
- do an indirect eval (this option is chosen by my PR #13)

Opinions? All options here seem bad! This is a close parallel of https://github.com/tc39/ecma262/pull/508 with the exception that E

[2016-05-04 09:14] mcfedr commented on #12
Ah, I guess the C compilers are removing tail recursion, but not all tail calls, that would seem to be the difference.
I had a quick look, with `-O3` GCC converts tail recursion into loops, so no stack trace is left.

[2016-05-04 16:41] claudepache commented on #14
Another option:
- throw an early error.

The drawback is that it will prevent a legal tail call when `eval` would not have its original value; but I don’t think that it is a serious restriction, especially since strict mode has already various statically enforced restrictions on the use of that identifier.

[2016-05-04 20:48] littledan commented on #14
@claudepache Agree that that's a possibility as well. It feels like the current spec is worded in a way that preserves a principle that you could shadow builtin eval and never call it, and pretend it doesn't exist that way. Checking for the `eval` string as an early error would violate that principle. However, I haven't been around long enough to know how important that is.

By the way, as backgro

[2016-05-05 03:23] mknichel commented on #6
To elaborate on the comment from @concavelenz - maintaining stack frames in error.stack is very important for Google applications. We collect errors and analyze them on the server, and it's a critical path for fixing problems found in production. A fix only for devtools would not be sufficient for our use case. Similarly, it sounds like the ShadowChicken strategy might not be suitable as well.

[2016-05-05 17:37] getify opened #16 "Can tail-calls be adaptive?"
Is it possible (either with existing wording in spec or with changes) to allow an engine to support "tail calls" but not necessarily tail-call **all** of the calls?

IOW, imagine an engine defaults to always doing the first x (for some small x like 10-20) tail-call-eligible calls as just regular calls (with new stack frames), and only kick in the tail-call stack frame reusing after this x limit?

[2016-05-05 18:44] bobzhang commented on #16
this looks interesting, FYI, there is a blog https://blogs.janestreet.com/optimizing-list-map/ about doing it manually in OCaml

[2016-05-05 21:41] littledan commented on #6
@erights I'd be interested to hear your thoughts on this.

[2016-05-05 21:41] littledan commented on #14
@erights I'd be interested to hear your thoughts on this.

[2016-05-05 21:57] erights commented on #6
I have the same discomfort with ShadowChicken. [Causeway](https://github.com/cocoonfx/causeway) is a post-mortem distributed debugger that I worked on a long time ago (together with @cocoonfx , Tyler Close, and others). See the Related Work section of [Causeway: A message-oriented distributed debugger](http://www.hpl.hp.com/techreports/2009/HPL-2009-78.html) for some other relevant old work on dis

[2016-05-05 22:03] erights commented on #6
One possible way to reconcile a ShadowChicken-like approach with the points that @concavelenz , @mknichel , and Causeway make is to say that, in the context where logs are accumulated and reported, that the info that GC would painfully drop under ShadowChicken is first logged, and then deleted from the local heap. This relieves local memory pressure without losing the utility of this info for inst

[2016-05-05 22:10] erights commented on #14
I feel strongly that early error is the only correct choice here. Remember that PTC/STC is strict only. In strict code, because of the binding restrictions, `eval` and `arguments` are essentially keywords. Yes, technically, they can be rebound by surrounding sloppy code; but this is a technicality that is outside normal programmer experience.

Thus, strict code with the syntax of a direct eval sho

[2016-05-05 22:19] littledan commented on #6
If stack frame data is logged before being deleted through GC, it still constitutes linear rather than constant resource usage, and goes against the spirit of proper tail calls. The ES spec doesn't say anywhere that things are held in memory rather than disk :)

[2016-05-05 22:29] erights commented on #6
I agree. Hopefully people will find this persuasive.

[2016-05-06 06:46] claudepache opened #17 "Should syntactic tail-calls be allowed in sloppy-mode functions?"
As specified in ES2015, PTC is disabled in sloppy-mode functions. I guess that the main reason is that it was incompatible with the nonstandard features `Function#caller` and `Function#arguments`.

If we use an opt-in for tail-calls, there is probably no need to be concerned with backward-compatibility with those features. Concretely, `Function#caller` would just skip elided stack frames.

Not tha

[2016-05-06 19:01] claudepache commented on #2
Maybe I'm missing something? but it seems to me that a chain:

**Wrap**__A_(**Wrap**__B_(**Wrap**__C_(**Wrap**__D_(...))))

could always be simplified to:

**Wrap**__A_(...)

That is, because nothing interesting is done in the intermediate realms, only the outermost check is useful from a security point-of-view.

[2016-05-06 23:35] msaboff commented on #7
I think I may have been misquoted.  For JSC, we don't find any performance changes good or bad with our PTC implementation.  Certainly there are micro benchmarks that one can construct that would show performance deltas either way.

Given the instrumenting we did in JSC to gather PTC usage in the wild, it is easy to understand why we don't see any performance deltas.  Our statistics show that PTC

[2016-05-07 00:11] littledan commented on #14
OK, seems reasonable to me. Does this PR embody what you mean? @erights @efaust @bterlson

[2016-05-07 02:48] #14 closed

[2016-05-07 02:49] bterlson commented on #17
I think this is a fine thing to tackle later if we want. It would need to be thought about more carefully. For now I'd rather focus on a proposal more-or-less equal in capability.

[2016-05-09 18:50] littledan commented on #1
@getify thanks for splitting off the 'why' into a separate thread; let's leave this to discuss syntax ideas.

We have current draft spec text using `return continue`. However, in private conversation with @wycats , Yehuda expressed some reservations about reusing the `continue` keyword in expression context for this totally different feature, partly because of concerns that it may not have very wi

[2016-05-09 19:09] erights commented on #1
Definitely against anything too verbose. Back when I think it was still reserved, I suggested "goto" for this purpose, but too late now.

The difficult of searching for this use of `continue` is a new argument for me, and the strongest argument I've heard so far. I can't say it changes my mind yet though.

I like the idea of using `keyword.tail` and then using `return.tail expr;` as shorthand for

[2016-05-09 19:12] erights commented on #1
We could also consider `keyword.goto` rather than `keyword.tail`. But it no longer fills me with enthusiasm.

[2016-05-09 19:18] erights commented on #1
After just a few minutes, `in.tail expr` is growing on me because of the reading "expr, which is _in tail_ position". If STC co-exists with PTC, then it means "Compiler, please verify for me that expr is in tail position" as above. If we have STC only, then it means "Compiler, please consider expr to be in tail position."

[2016-05-09 21:31] bterlson commented on #1
@erights, I also like `in.tail`. What are your thoughts on the following alternatives in statement context:

[code]

[2016-05-09 21:36] isheludko commented on #1
If it's going to be "return.tail" then how will we write a tail call inside complex expression like `return a || continue b();`?
I also like `in.tail`.

[2016-05-09 21:38] bterlson commented on #1
With only `return.tail`, it would be allowed as both an expression and a statement depending on context. With the `in.tail` proposal, the best thing IMO is to have `return.tail` work only where `return` works today (ie, as a statement), and have `in.tail` for expression-level tail calls.

[2016-05-09 22:19] littledan commented on #1
@bterlson If I understand you correctly, sounds like `in.tail` would have identical syntax to the current `continue`, solving @isheludko 's issue, and we'd also add an additional shorthand `return.tail` => `return in.tail` for brevity. Right? If so, sounds good to me. I like the parallelism between the two `.tail` constructs.

[2016-05-10 00:01] bterlson commented on #1
@littledan that is what I'm suggesting, yeah. Wonder if this aligns with what @erights is thinking?

[2016-05-10 00:04] erights commented on #1
@bterlson @littledan @isheludko y

[2016-05-10 00:33] isheludko commented on #1
I like the .tail idea. And the combination `return.tail f() / do.tail f()` also looks good to me.

[2016-05-10 06:29] concavelenz commented on #1
I want to understand what is being proposed for:

function f() {
  g();
}

With "in.tail", am I correct in understanding this would be:

function f() {
  in.tail g();
}

I don't know what this looks like with only "return.tail".  I wish we could
get away without a "ignore the return value of the function" version so
that the only thing available was:

function f() {
  return.tail g();
}

or in the

[2016-05-10 06:55] isheludko commented on #1
The idea is the following:

[code]

[2016-05-10 07:09] claudepache commented on #1
The `g()` is not in tail position (because it will return `undefined`, not whatever `g()` returns).

Syntax error: `in.tail g()` is not in tail position (see above).

A shortcut for `return in.tail g()`, previously known as `return continue g()`.

[2016-05-10 11:07] rossberg commented on #16
The spec already allows that. Any implementation strategy that is observably equivalent to the spec is of course valid. And this one is, at least if done right (i.e., you have to be sure that you don't overflow the stack during those first few invocations).

Basically, all that the spec prescribes is that certain programs have observable O(1) stack usage, the constants don't matter.

[2016-05-10 11:14] rossberg commented on #12
Some C/C++ compilers attempt some amount of TCE, but it is _extremely_ limited. Very few tail calls can actually be removed in C, because of the omnipresent pattern of taking the address of local variables and passing it to functions to emulate out args. As soon as a local stack address escapes like that (and the compiler can't analyse the callee), TCE is out. It's even worse in C++, where any dec

[2016-05-10 11:18] rossberg commented on #11
@bobzhang, the counter argument is that syntactic tail calls actually _help_ the users, because it gives them a way to have their assumptions checked. That should _particularly_ aid those who have not fully mastered tail calls yet.

[2016-05-10 11:22] rossberg commented on #7
FWIW, V8 also has found slight performance regressions with TCE activated. They are most visible (5+%) on artificial micro benchmarks, though. For "real-world" code, the regression was usually barely above noise level.

[2016-05-10 11:24] mcfedr commented on #12
Fair enough, thats interesting to know.
I'll close this for now, I do think it would be a shame to add syntax for this to JS as it would reduce its usage dramatically, and it seems like it should have potential for faster and more efficient JS engines in the future.

[2016-05-10 11:24] #12 closed

[2016-05-10 11:28] rossberg commented on #5
@getify, in fact, explicit tail calls are _more_ work for engines. Not by a large margin, though.

[2016-05-10 12:39] rossberg commented on #1
Okay, I gonna say it: `in.tail` is terrible. So far, the `keyword.property` pattern has only been used or proposed for names of pseudo _variables_, denoting values. That at least made some tiny amount of sense. But as random contextual keywords it's just "Wat?"  I doubt that's gonna win over skeptics of the STC proposal. ;)

[2016-05-10 15:08] bobzhang commented on #11
@rossberg-chromium That's fair. May major concern is that `introducing a new syntax`  means we can not write or generate future-proof code.
It is fine to have explicit annotation for tailcall, my best wish is that such explicit annotation can still be accepted by browsers which don't support it.(like asm.js)

If you have a look at es6 vs es5 from the traspiler's point of view, the only major langu

[2016-05-10 16:07] littledan commented on #12
No one has proposed prohibiting anything. The proposal is just to not guarantee the optimization.

[2016-05-10 16:08] littledan commented on #1
@rossberg-chromium can you present an alternative?

[2016-05-10 16:17] ljharb commented on #11
@bobzhang and `WeakMap`, and `Proxy`, and `Symbol`, and all the new syntax ES6 already introduced…

[2016-05-10 16:51] bobzhang commented on #11
@ljharb that's runtime feature, not language feature :-)

[2016-05-10 16:54] bobzhang opened #19 "overloading label syntax for tailcall"
[code]
The label is quite descriptive and it is also valid es5 syntax, about backward comptablity, I think it would break very few programs, see discussions in #11

[2016-05-10 17:06] claudepache commented on #19
Please, `tailcall:`, not `__ecma_tailcall:`. The `__ecma_` prefix doesn’t describe anything relevant.

[2016-05-10 17:20] bobzhang commented on #19
@claudepache it's mostly for avoiding break some weird code, I like `taicall:` too!

[2016-05-10 17:39] rossberg commented on #1
@littledan, the current proposal is a perfectly sensible alternative AFAIAC. I don't buy the searchability complaint. Lots of other syntax is far less searchable, so how is that a requirement all of a sudden?

[2016-05-10 18:28] littledan commented on #19
I like how the current proposal is expression-based. For things like the ternary operator, you put the tailcall annotation right before the call. A label would not permit that.

[2016-05-10 18:30] littledan commented on #11
ES2015 includes tons of core language semantics changes. Basic operations like `instanceof`, reading local and global variables, `const`, and property access have different semantics from previously.

If you want to write future-proof code, and are OK with current browsers, then you can simply continue to not use the tail call feature.

[2016-05-10 18:50] littledan commented on #16
As @rossberg-chromium says, ES5.1 and earlier already allow some tail calls to be eliminated on a reliable or unreliable basis. The STC proposal continues to allow implementations to do PTC or approximations of this if they wish; it simply doesn't require it. The proposition of PTC is whether it should be required strictly in all cases.

As far as this as a strategy for enabling debugging for PTC

[2016-05-10 19:05] bobzhang commented on #19
@littledan  I agree, but the current proposal is a new syntax, my proposal is still valid ES5/ES6, it does not hurt expressivity.

[2016-05-10 19:08] littledan commented on #19
@bobzhang Without it being an expression, the expressivity of the proposal is hurt, and it becomes harder for developers to get precise errors about misusing tail calls. Further, users who are OK in the transition without tail calls being supported should be OK continuing to not get tail calls after an explicit syntax is added.

[2016-05-10 19:27] erights commented on #1
That's a very good point that had not occurred to me. I agree that it is a good design rule to impose in general for the use of `keyword.name`.

[2016-05-10 19:47] wycats commented on #1
The problem is not with new syntax in general, it's with repurposing existing syntax, especially for power-user features that most users won't know about a priori.

What I'd like to optimize for here is:
1. the first time a user sees an STC, it's quickly identifiable as a special form.
2. when they go to search for it, they will find some results

Because `return` and `continue` are both keywords,

[2016-05-10 19:55] wycats commented on #1
For what it's worth, I think we'll generally make more progress here by accepting (but asking for details and clarification) the constraints other people have, rather than dismissing them.

The only plausible result of dismissing constraints that other people have (that they feel strongly about) is deadlock. Let's start by assuming we can find a solution within the constraints, and only if we've f

[2016-05-10 20:31] claudepache commented on #1
As a precedent, I recall that the `static` keyword has three completely different uses in PHP; but it didn't hurt the search of its meaning for me (by contrast, I have more difficulty when searching for the semantics of the `+` binary operator applied to arrays).

There are also already many results for `in.tail`, from which I wouldn't draw any conclusion. Whatever syntax we choose, the search res

[2016-05-10 20:52] bobzhang commented on #19
@littledan can you show an example that is not expressible in this syntax? This syntax allows me write future proof code

[2016-05-10 20:52] littledan commented on #1
I think "return continue" will become more searchable as the language feature comes into existence and use. Although there are results already, search engines can use heuristics like downranking for intervening punctuation. GitHub search already fails to get good results for my queries which I think are reasonable.

[2016-05-10 20:55] littledan commented on #19
Your code will be future proof by simply not using the tail call feature. Here are two examples that I don't know how to translate into label syntax:

[code]

[2016-05-10 21:00] bobzhang commented on #19
[code]

I don't think it is that bad given js is not an expression oriented language.
 Anyway, it is just my opinions

[2016-05-10 21:59] littledan commented on #19
Well, if you're talking about JS as a target language for functional languages to compile into, expressive expressions do help. do expressions have been proposed partly for this exact purpose, but they aren't championed at the moment.

[2016-05-10 22:52] bobzhang commented on #19
@littledan For smart transpilers, tailcall statement is good enough, actually, I like this syntax, the label was used as a location, and it was used  for control flow, my proposal was just making some labels with special meaning

tailcall was very useful in cases like lexer/parser generator, those are typically generated code, several more strokes does not really hurt

[2016-05-10 22:56] bobzhang commented on #1
@bterlson  would you have a look at my syntax proposal in #19, I think it is a very good candidate without inventing a new syntax.

[code]

[2016-05-11 08:43] claudepache commented on #5
In one sense, ES2015 contains already a function-level annotation for enabling PTC, namely `"use strict"`... although that directive also enable other features (mainly, more strict error conditions).

[2016-05-11 10:39] rossberg commented on #1
@wycats, generators have repurposed `*`, destructuring has repurposed literal syntax, do-expressions repurpose `do`, etc. All of these are much harder to search for. Also, for a programmer facing unfamiliar syntax, what difference does it make whether it's new or "repurposed"?

[2016-05-11 14:48] littledan commented on #5
https://github.com/tc39/proposal-ptc-syntax/issues/5#issuecomment-210136516 points out a significant disadvantage of that style of declaration: we would not be able to use non-simple parameters.

[2016-05-11 14:59] getify commented on #5
Quoting myself from above:

I don't think the function-level syntax has to opt a function into strict mode. I think the function-level syntax could be an early error if the entire file/program wasn't already in strict mode.

PTC already requires the function itself to be strict, and I don't think we need to support mixed-mode where tail-called functions are strict and other functions in the file a

[2016-05-12 21:52] bterlson commented on #19
I don't think it's acceptable to require tail calls from arrows to use a function body (should work with concise bodies). I also don't see how the label works with ternary. Ultimately, I still don't agree that there is value in making tail calls valid ES6 syntax.

[2016-05-17 03:54] mintern commented on #1
How does `return do f()` measure up against `return continue f()` in your opinions?

[2016-05-17 18:23] littledan commented on #1
`do` is proposed for do-expressions, so I don't know if that would be such a good idea.

[2016-05-17 21:43] mintern commented on #1
Ahh, of course! Thanks.

[2016-05-17 23:06] saambarati commented on #6
There is a lot of misinformation in this thread about how ShadowChicken works and how other theoretical shadow stack implementations could work. I'm going to speak to how we implemented our shadow stack to in hopes of moving discussion away from arguing against a theoretical shadow stack implementation.

The main arguments I see here against ShadowChicken is that its efficacy is dependent on heap

[2016-05-18 00:43] littledan commented on #6
I was not referring to ShadowChicken being a linear memory user but rather Mark's suggestion of logging tail-optimized frames being linear. Sorry for my misunderstanding; I thought it was based on GC because Chicken's TCO is, but this is an interesting-sounding design to use a separate mechanism to ensure limited resource usage. With this design, is the resulting stack deterministic?

Nevertheless

[2016-05-22 09:52] littledan commented on #17
We have tried a prototype implementation of this and did not run into any issues with it yet. Seems like this is feasible.

[2016-05-22 09:52] littledan commented on #10
These issues are all fixed in the current revision.

[2016-05-22 09:52] #10 closed

[2016-05-22 09:53] littledan commented on #8
Seems like the spec has stabilized on "yes".

[2016-05-22 09:53] #8 closed

[2016-06-06 18:06] yunong commented on #6
At Netflix, we leverage JS heavily, both on the client (most of our clients use JS) and on the server (our website and data access platform run Node.js).

It's critical to our business that we have access to tools that lets us easily observe and debug our services and clients in production.

For our server deployments, CPU profiling via [perf](https://perf.wiki.kernel.org/index.php/Main_Page) whic

[2016-10-16 20:10] nmn commented on #3
The only benefit I see from PTC is better transpiration by using trampolines. The current spec already includes implicit tail calls. And I prefer that solution in almost all ways.

[2017-02-24 20:21] Pauan commented on #1
@littledan My understanding is that do-expressions must always have `{}` braces, so using `do foo()` is unambiguous.

I like it the best out of all the proposals I've seen:

* It is *very* short, **far** shorter than `continue`

  This is especially important for functional languages: because functional languages contain so many tail calls, when they are transpiled to JavaScript they will contain

[2017-02-24 20:36] ljharb commented on #1
Because of gzip, I don't think the length of the keyword will have any meaningful impact. The other points stand, ofc.

[2017-02-25 21:17] Pauan commented on #1
@ljharb Not all JavaScript code is gzipped: Chrome/Firefox extensions, Node.js, phone apps, embedded devices (IoT), etc.

[2017-02-25 22:07] ljharb commented on #1
@Pauan filesize isn't as much of a concern in those arenas; but either way, I would object strenuously to any proposal that used "smaller filesize" as its argument, as I feel that the existence of that argument weakens every other argument used alongside it. Optimizing for keyword length (for filesize; as opposed to for readability) will just lead to illegible hard-to-maintain code, and I wouldn't

[2017-02-27 09:21] Pauan commented on #1
@ljharb Sorry, guess I shouldn't have said anything then.

[2017-02-27 18:33] bterlson commented on #1
@Pauan not true, thank you for taking the time to share your thoughts and keep them coming. It's very helpful for us!

But this proposal is dead and PTC continues to be the consensus position. It's interesting to think about what could have been, though :)

[2017-02-27 18:44] ljharb commented on #1
@Pauan I didn't mean to give you that impression; I like the rest of your points :-)

[2017-07-31 13:45] mathiasbynens opened #22 "Is this proposal dead?"
https://github.com/rwaldron/tc39-notes/blob/master/es7/2016-05/may-24.md#syntactic-tail-calls-bt

It seems like this proposal is no longer making progress. If this is the case, could a note saying as much be added to the README?

[2017-07-31 14:04] SanderElias commented on #22
Also, if this is dead, what's the alternative?

[2017-07-31 15:18] ljharb commented on #22
It's currently marked as inactive https://github.com/tc39/proposals/pull/56/files#r126664543

[2017-07-31 15:24] getify commented on #22
Do the objecting browsers (ff, edge) just intend to willfully violate the spec and not implement ptc as spec'd? Would be nice to have an update.

[2017-07-31 15:34] SanderElias commented on #22
@getify You can add chrome to that list. It has pulled the code for PTC out for turbofan.

[2017-07-31 15:44] lukewlms commented on #22
Quote for Turbofan removal of PTC - looks like indeed, even the `--harmony-tailcalls` flag is being removed.

https://bugs.chromium.org/p/v8/issues/detail?id=4698

[2017-07-31 19:26] littledan commented on #22
There are two things here:
- IIRC Firefox, Chrome and Edge have all said they don't have plans to implement ES2017 implicit tail calls in JavaScript.
- This proposal for explicit tail calls encountered some resistance in TC39.

I think this proposal is revive-able. A [parallel discussion](https://github.com/WebAssembly/meetings/blob/master/2017/CG-07.md#tail-call) about tail calls is happening in

[2017-07-31 19:36] getify commented on #22
TC39 should remove implicit tail calls from the spec if (some) browsers are refusing to implement it.

As it stands, this is a failed process and is extremely disappointing to those of us who care deeply about recursion techniques.

[2017-07-31 19:43] getify commented on #22
Definitely some concern about people accidentally opting into speed-harmful (but memory-improving) naive tail calls. There were several suggestions to mitigate this with TCO options on top of PTC where the tail calls only kick in after a certain depth of call stack or whatever. Seems like it was easier to reject than do those.

[2017-08-01 09:16] littledan commented on #22
It seems pretty complicated to make a system which is, "TCO not all of the time, but enough of the time that it's as if it's happening all the time." I understand if implementers are a little worried of the prospect of providing that sort of guarantee.

[2017-08-01 11:36] SanderElias commented on #22
@littledan Then STC makes even more sense. As an user explicitly asks for TCO, the lexer can check that there is only a single function call following that statement (regardless of the syntax that it's going to get!) and error out when it's not.

For the debugging part, document that using STC will produce a 'flattened' error stack trace. If it's possible, a number of iterations can come in handy.

[2017-08-01 12:38] getify commented on #22
That's not the guarantee of PTC from the perspective of the user (end-developer), or at least that's not what the guarantee has to be interpreted as.

The only guarantee necessary is that a program using tail calls will not grow the stack frame memory usage at O(n) but at O(1). Of course, O(5) or O(20) or O(1000) are all acceptable as long as all those are lower than whatever arbitrary `RangeError

[2017-08-08 17:12] hax commented on #22
Apple (Safari team) say no to STC which make this proposal inactive, they can also refuse to remove PTC from the spec, can they?

[2017-11-14 14:05] dfahlander commented on #5
I might be late in the game, but if anyones opinions may matter, I would like weigh in my opinion here as well.

I totally agree with what @getify suggest - to be able to opt-in per scope instead of each call site. I was actually about to write the same suggestion until I found this issue.

If I was an FP fundamentalist, (which I'm not, but I could imagine their feelings...), I would love to be ab

[2017-11-14 17:15] ljharb commented on #5
Explicit indicators at each coal site are much prettier to me, because explicit is always prettier than implicit - so clearly that’s subjective.

[2017-11-30 10:50] dfahlander commented on #5
I've been thinking about this for a while since I wrote my long view of it and I've come to the conclusion that I might be wrong about this. Explicit indicators are good as it indicates the bevaiour more clearly. "continue" is a nice keyword for this, as it explains what actually happens. Also, there would be issues with code snippets taken out on stackoverflow etc, or copied/pasted from a module

[2018-02-02 17:13] elijahdorman commented on #22
Something needs to happen one way or the other. If the spec committee cannot agree, then perhaps it is time to reach out to the larger developer community.

Have both sides make written arguments explaining the drawbacks and advantages of each position. Let developers vote on which solution best matches their needs. Spread this to as many sources as possible and stress that the result is final. Af

[2018-03-24 22:59] iddan commented on #1
I see no reason why `rec` should be used like `async`: Great languages like OCaml (and now ReasonML) use it and seems very readable

[2018-04-04 11:14] littledan commented on #1
@iddan We discussed alternatives like `rec` in #5.

[2018-04-04 11:56] iddan commented on #1
I know, I just think that now at 2018 when `function*`, `async function` and `async function*` are part of the language using the same syntax pattern with `rec` makes more sense.

[2018-04-14 04:02] backspaces commented on #22
I agree with @elijahdorman. I just naively started testing Javascript as a FP language with this lambda:

My unit testing failed for large inputs. I had assumed that most of es2015 was implemented. Checked Safari and Chrome. One failed, the other worked.

JS is supposed to be an ECMA standard. It clearly is not. Lets either remove it from the standard, or provide reasonable implementations.

I am

[2018-04-14 11:48] mgol commented on #22
@backspaces Your example doesn’t have a tail call so even on Safari it will fail for a reasonably large x.

[2018-04-14 12:44] SanderElias commented on #22
@mgol You are right, Doesn't really matter for the discussion. He is right that something should start moving here.
You really can't use JS in a truly functional way, because of lack of good recursion support.
I know one can hack is way in by using trampolines and stuff. but that's not a proper solution to the problem.
Something like:
[code]
Should work for any size of number. (Might take a while,

[2018-04-14 16:49] backspaces commented on #22
Hi @mgol, thanks for the tip. Is it not a tail call because it is a lambda expression? I.e. does not use a "return"?

I've been using http://2ality.com/2015/06/tail-call-optimization.html as a guide but it's a bit dated. Any pointers *much* appreciated!

[2018-04-14 17:29] elijahdorman commented on #22
@backspaces

A proper tail call only happens when the return of the function is a function.  In your example, rather than returning a function, you return the result of an addition.

[code]

[2018-04-14 23:57] backspaces commented on #22
OK, I *am* compulsive :). I stared at the examples above and built a tiny html file to test both the function() form and the lambda form (=>)
  http://backspaces.net/temp/tailcall.html

On Sierra Version 10.1.1 (not High Sierra, could be the difference), Safari actually does apparently implements PTC.

Running this on Chrome latest exceeds the stack limit between 1,000 & 10,000 while Safari labors

[2018-04-15 01:04] Pauan commented on #22
No, the performance problems are quite pervasive: they affect all/most function calls.

It doesn't require *every* function call to be in tail position. The determination of whether it is a tail call or not is based upon each individual function call:

[code]

As you can see, a single function might contain a mixture of tail calls and non-tail calls. When making a tail call, it is guaranteed that

[2018-04-16 00:01] backspaces commented on #22
So would it help, in terms of a compromise, if PTC was limited to only the case of a function calling itself?

I was surprised to see the definition of PTC including *any* function.

There is still the overhead of determining there is no closure state, global variables, and so on. But I'd presume that limiting it to the tail call being to itself would be potentially simplifying.

[2018-04-16 00:58] getify commented on #22
@backspaces I wouldn't be satisfied with that, as one of the most important use cases I currently face is not recursion but simply wanting for all the tail calls in the multiple layers of function wrapping of FP to not grow the stack.

[2018-04-16 16:36] backspaces commented on #22
Hi @getify (thank you for your work!) So you mean literally reuse the stack for functions whose tail is another function call of *any* sort?

I had thought most FP (like D3) returned an object for further chaining. But then I've learned D3 is not really FP, even tho quite nice.

But doesn't this make debugging difficult? No stack trace?

Hmm.. maybe this could actually be easier to implement .. si

[2018-04-16 16:57] getify commented on #22
@backspaces I mean something like this:

[code]

IME with FP, I'm often creating these multiple abstracted layers of function calls with various operations on the arguments being performed in the intervening steps. If I had an environment that supported tail calls, I would try to make as many of these calls as possible in PTC form (or STC or whatever) to reduce the overhead of the calls in the res

[2018-04-26 10:03] hax commented on #22
@backspaces 's example shows that STC may be the better solution for most js developers who not very familiar with tail calls 😅

The only problem is how to convince Apple to change their mind. There is no technical issue at all. Sigh...

[2018-05-02 12:18] trgwii commented on #22
The refusal to implement this is beyond frustrating... Syntactic tail calls (or implicit tail calls) would also simplify generator functions greatly, by allowing recursive generators.

Iterative approach:
[code]

With tail calls:
[code]

[2018-05-06 16:25] pygy opened #23 "Revivng proper tail calls?"
Hi all,

as much as some people love to hate Safari ("the new IE", yadda, yadda), I've yet to see a complain of their support for proper tail calls in the wild. The debugging problems mentioned in [this article](https://v8project.blogspot.fr/2016/04/es6-es7-and-beyond.html) seem to be non-issues in practice.

Maybe it is time to revisit the situation?

[2018-05-06 17:39] ljharb commented on #23
Since code using proper tail calls to avoid blowing the stack isn’t web-compatible, and would only work in Safari - which would imply that nobody is shipping it - how would you expect to see complaints about the implementation?

[2018-05-06 17:46] Pauan commented on #23
@ljharb Tail call optimization applies even if the programmer didn't intend for it to apply.

So let's say somebody debugged their code in Safari, and their debugging experience was fine (despite the unintended tail call optimization). Obviously they would not complain.

On the flip side, if somebody is debugging code in Safari and they experience weird behavior (such as call stacks being missing)

[2018-05-06 18:23] pygy commented on #23
I'd argue that, as far as debugging is concerned, accidentally optimized tail calls are the only ones that matter.

People who use them deliberately would not complain, they know what they are doing.

A third case would be someone who relies on a 3rd party library that uses tail calls internally. It may make it harder to debug said lib if it were buggy. If it is a real problem in practice, people

[2018-05-06 21:56] pygy commented on #23
Another thing I see raised against proper tail calls is perf issues.

They can be made fast in LuaJIT where the equivalent of

[code]

is as fast as a

[code]

(and that has been the case since [2010](http://lua-users.org/lists/lua-l/2010-02/msg00582.html)).

What does JS have that makes the code above impossible to optimize?

Edit: FWIW, Safari is [almost as good as LuaJIT here](https://flems.io/

[2018-05-06 22:11] getify commented on #23
@ljharb as I've pointed out multiple times, including in #4, tail calls are not web-incompatible. I have code shipped in production (that I wrote years ago) using that "adaptive" pattern, which ostensibly is working fine (as far as I know anyway) in non-PTC browsers, and in Safari has "progressively enhanced" to using tail calls.

Whether that pattern is common or not is a separate discussion. It

[2018-05-06 22:18] getify commented on #23
Also, @Pauan is correct here:

There must be tons of code (especially non-recursive) out in the wild that is unintentionally being tail-call'd by Safari. One would have to assume that if tail calls were such a problem (either for performance or debugging), then surely by now enough of a complaint would have been raised in the community as backlash against Safari, we'd certainly know it.

I'm not a

[2018-05-06 23:09] pygy commented on #23
@getify you phrased it better than I did, and I too think that the resistance is misguided, but I'd avoid throwing arounds terms like "FUD" (which I associate with wilful disinformation), it will not help our cause.

[2018-05-07 02:13] ljharb commented on #23
@getify your code is not "web compatible PTC code". It's specifically web-incompatible PTC code, *combined* with a fallback mechanism to the true web-compatible code.

By saying PTC is not web compatible, I'm not saying that you can't write code that utilizes PTC. I'm saying that PTC code *without a fallback* is web incompatible.

The resistance to PTC is not solely based on debugging concerns; th

[2018-05-07 02:43] getify commented on #23
@ljharb seems like nitpicking on words. you used "not web compatible" as an excuse to dismiss the possibility that anyone may have deployed PTC code (or something demonstrably like it) and thus that was the reason for "silence" in terms of complaints.

Not only is my code pattern a counter-example that excepts that reasoning, but you also don't account for web code that's affirmatively using PTC (

[2018-05-07 06:42] pygy commented on #23
@ljharb I'm surprised that the architecture of one of the VMs is incompatible with PTC.

I'm going to suppose it is Edge we're talking about, since Brendand Eich had started working on the Firefox implementation (I assume he had a general idea of the path forward when he wrote the parser patch), and V8 had it done before it was unshipped.

[2018-05-07 06:43] elibarzilay commented on #23
TL;DR: +1, but with some more details:

1. First of all: I completely agree with the point of this issue.  It's even better than splitting the fine hair splittage of what's proper web code or not.  The bottom line is that JS code cannot for the most part rely on tail calls for "random web stuff", so the safari move would get developers no real benefits due to portability, but it *would* get them i

[2018-05-07 21:22] PinkaminaDianePie commented on #23
Can it be implemented vice versa? Use proper TCO by default, and in case of greater need use some explicit keyword/expression/directive what else like `debugger`, which will deoptimize code and generate low-performance version, but with proper call stack? It would be much better to optimize by default and deoptimize on demand for debugging purposes only. Is it possible or such way also break some

[2018-05-08 15:21] getify commented on #23
I've thought about a similar path, too. For example, for any libs that want to collect (error).stack in the background, we could have a static boolean property like Error.stack to opt-in to full stack traces. This isn't really a deopt like stopping tail calls, but just indicating to the engine that the shadow stackframes should be collected. If it's not set, it's up to the engine if they want to c

[2018-05-10 00:18] Othreumaru commented on #23
TCO is just an optimization, stacktraces which are smaller in size than the limit of a stack in browsers which is usually few thousand may not be optimized at all, the optimization should imho trigger when the stack reaches this limit. At this point stack would be overflown anyway with exception. Usecases where TCO is useful are when code is running recursion over huge number of function calls som

[2018-05-10 00:26] getify commented on #23
@Odrinwhite disagree. PTC (not necessarily TCO) is important even without recursion. Recursion is an obvious and acute use case but certainly not the only one.

I want (in FP) to make multiple wrapping layers of functions on top of functions, preserving parameters at each level, via closure, and I don't want there to be a deeper call stack as a result. In that perspective, function wrapping calls

[2018-05-10 00:48] Pauan commented on #23
@Odrinwhite The strategy of "wait until the stack overflows and then activate TCO" is used in Chicken Scheme (and other compilers as well).

It is a valid way of implementing TCO, so browsers can use that implementation strategy if they wish.

But that has nothing to do with the spec: the spec does not specify *how* browsers achieve TCO, it merely mandates that they use *some* method of achieving

[2018-05-10 04:53] getify commented on #23
@Pauan of course, I don't **only** care about the debugger output... that was just one convenient illustration of a non-recursion use case.

What I actually want is all those wrapped FP functions to not actually cost function calls. And BTW, "cost" is not as much wanting to save CPU cycles in those calls, but wanting to minimize all the memory/GC churn of all those extra stack frame allocations/de

[2018-05-10 11:15] Othreumaru commented on #23
@getify Don't get me wrong I would like to see your version implemented but I think the argument that it breaks the web may be valid here for some people. And not breaking web was a big deal in designing ES6 so my proposition is to get the foot into the doors and allow people write TCO in some code which may not need to be very efficient but still fun to do. And with more people trying and using t

[2018-05-10 11:47] PinkaminaDianePie commented on #23
@Odrinwhite proper TCO doesn't break the web itself. Only some ways of implementation break it, and only in some cases. So instead of rejecting standard, it's better to find other ways of implementation, which will be acceptable. One proposal was to give developer possibility to deoptimize code on demand and see a proper stack trace. We will have proper TCO, developers will be able to check stack

[2018-05-10 13:49] Pauan commented on #23
That is not guaranteed by the spec, the spec only guarantees *amortized* behavior. In general the spec doesn't say much about performance.

Also, stack allocations/deallocations are *not* the same as heap allocations: stack allocations are *not* managed by the garbage collector, and they are generally free (zero-cost). There is no performance penalty to using the stack.

Things get more complicate

[2018-05-19 05:22] elibarzilay commented on #23
It seems to me that it will be helpful to clarify the purpose of tail call elimination: the main goal is not to reduce runtime, but to reduce memory use --- and the actual stack frames are not the main concern there.  When I write this code:

    function foo(x) {
      let y = ...;
      return bar();
    }

then having PTC means that when `bar()` is called I want to know that the `x` and `y` bin

[2018-06-25 19:36] glathoud commented on #23
Here is one possibility for developers to use fast tail calls today, without needing extra keywords in JavaScript: https://github.com/glathoud/fext

[2018-07-06 07:28] glathoud commented on #22
Until STC is implemented, here's a possibility to use tail calls - including mutual recursion - in today's JavaScript, get rid of stack overflow problems *and* obtain excellent performance: http://glat.info/fext

(for "normal" functions, not generator functions).

[2018-07-06 08:38] mgol commented on #22
@glathoud the link is 404

[2018-07-06 09:02] glathoud commented on #22
@mgol fixed, thanks

[2018-11-04 15:51] kaizhu256 commented on #23
+@douglascrockford

recent jslint versions have 2 tail-call "bugs" where it raises RangeError in certain cases in v8/nodejs/chrome (but not safari) [1], [2].  these bugs were closed by the author as "wont fix" (under assumption bugs will go away when engines eventually fall inline with ptc-spec).

will that assumption happen in the forseeable future?  yes/no/maybe?  an authoritative answer would p

[2018-11-04 16:17] kaizhu256 commented on #23
oh also, firefox doesn't seem to have jslint tail-call issues under normal use-cases - because it has a ridiculously large callstack-depth limit (~100,000 vs. chrome's measly ~12,000).  you can get these numbers by running the script below in the respective browser's console.

maybe a happy-medium/short-term solution is for v8/chakra to raise their callstack depth-limit to the same level as firefo

[2018-11-04 16:36] slikts commented on #23
Why would you use jslint, though.

[2018-11-06 17:09] kaizhu256 commented on #23
@slikts because eslint is too slow on the ultra-portable laptop i use while backpacking.  javascript product-development should *not* follow java's model where the only reason you need powerful laptops (with poor battery-life) is because of bloated-tooling.

also i don't have strong feelings about PTC either way.  i'm just unhappy that jslint is currently in a state thats not ideal for production-

[2018-11-06 17:25] ljharb commented on #23
This repo isn’t the place to complain about, or seek change in, any of those things. jslint’s author by their own admission doesn’t care about web reality, only what’s in the spec; file a bug on Firefox if you want them to implement something; use something other than eslint if you like, just be aware that eslint is the de facto standard for “product-development” in the entire JS community.

While

[2018-11-06 17:32] kaizhu256 commented on #23
@ljharb, my understanding is this thread is about PTC (not STC), and i'm bringing up a PTC issue in the wild.

[2018-11-06 17:43] ljharb commented on #23
The thread is also not appropriate for this repo, since this entire repo is about removing PTC and replacing it with STC.

You’ll have to to take it up with each engine that has chosen not to ship PTC if you want PTC “revived”, or with the one engine that has if you want it removed.

[2018-11-06 17:53] kaizhu256 commented on #23
fyi, i did file a related-bug with v8-team back in september (https://bugs.chromium.org/p/v8/issues/detail?id=8234).  they gave it a low-priority, with no owner currently assigned.

[2018-11-06 17:56] ljharb commented on #23
Sounds like you have your answer, then.

[2018-11-06 17:57] littledan commented on #23
To answer @kaizhu256 's question in https://github.com/tc39/proposal-ptc-syntax/issues/23#issuecomment-435680890 , V8 has previously stated its position on tail calls clearly in https://v8.dev/blog/modern-javascript#proper-tail-calls , and I haven't heard any reason to believe that this logic doesn't continue to hold. I think the most likely way towards agreement across engines would be something

[2018-11-06 18:00] kaizhu256 commented on #23
thx @littledan.  that's the kind of clarity i'm seeking

[2018-11-06 22:39] pygy commented on #23
@littledan @ljharb this thread is actually a rebuttal of the v8 article you link to, and a plea to drop the STC proposal in favour of PTC.

PTC are implemented in Safari, and literally no one complains about them from a debugging standpoint. That article was posturing as "but think of the Web developer" from a team that was either completely wrong about what actual Web devs think, or doesn't want

[2018-11-06 23:19] mathiasbynens commented on #23
@pygy I’m going to quote your last comment, and emphasize part of it:

As the particular section of the article that @littledan linked to states, V8 actually implemented both PTC and STC behind different flags.

[2018-11-06 23:23] getify commented on #23
IIUC, v8 ended up backing out their PTC implementation in larger part because it seemed clear that this situation was not going to be resolved any time soon (been years now). It seemed less like they had strong objections to PTC the way Firefox and Edge did, given that they had a working implementation even if some there didn't like it.

The effect of Chrome not shipping PTC was basically to reduc

[2018-11-06 23:24] getify commented on #23
And just for clarity, @littledan @ljharb, ***this thread*** is actually about PTC, not STC. There's another repo/thread about STC, and I think it's been confused with this repo/thread.

[2018-11-06 23:26] ljharb commented on #23
@getify this repo's tagline says "Discussion and specification for an explicit syntactic opt-in for Tail Calls. " - it's definitely for STC. PTC is in the spec, and thus es-discuss, or ecma262, is the place to discuss it.

edit: this comment is no longer relevant since the above comment was edited

[2018-11-06 23:28] getify commented on #23
@ljharb this repo is called "Proposal PTC Syntax" (which I guess later came to be called STC), but **this** thread, which is where we're currently discussing, is unquestionably about PTC.

[2018-11-06 23:36] slikts commented on #23
What else would implicit mean if not syntactic?

[2018-11-06 23:42] pygy commented on #23
@mathiasbynens thanks for chiming in. I know it used to ship behind a flag and was removed and I imagined it could have clashed with TurboFan. So Chrome unshipped it to avoid putting pressure on the Mozilla and Edge teams?

Implementations issues have been raised upthread, but without mentioning engines. By elimination, my guess was that Edge was probably problematic, but I wasn't sure.

I'm actua

[2018-11-07 01:16] concavelenz commented on #23
Today, PTC would have never made it into the spec as there would not be concensus to put it in.  But the same process currently prevents it from being removed as it is designed to favor inaction.

[2018-11-07 04:35] concavelenz commented on #23
I am curious, those advocating for PTC.   Do you collect client side error reports?  I did an analysis of a few applications and found the % of all calls that would be converted to tail calls ranged from 10-20%.  With that it is entirely possible your entire callstack could be erased, leaving you with no clue as to why your clients are failing.

Shadow stacks don't help here because these things a

[2018-11-07 10:18] pygy commented on #23
That's a good point @concavelenz.

I've re-read the README of this proposal, which actually exposes the various implementation woes for Firefox and Chakra, I had forgotten about the details.

https://github.com/Microsoft/ChakraCore/issues/796 make things even more clear clear as far as Chakra is concerned. To properly implement PTC (per spec and without perf loss), they'd have to change their call

[2018-11-07 13:04] getify commented on #23
As I've mentioned various times throughout these threads, the spec does not require the engine to throw away all frames, only that the stack not grow faster than O(1) magnitude.

One way they could explore doing tail calls would be to keep the first 5 (or 10 or whatever) frames, and then a rolling queue of the last 5/10/etc frames, effectively throwing away the middle frames. I would imagine the v

[2018-11-07 13:32] PinkaminaDianePie commented on #23
- authors of one old framework polluted prototype of built-ins years ago and 0.01% of websites may use it

- author of another framework wrote his code according to the spec without any workarounds

Nice double standards, really.

[2018-11-07 15:38] concavelenz commented on #23
@pygy The important thing is that with syntax, you don't regress performance everywhere.

@getify
Tail-call-elimination isn't a problem. Tail-call-elimination is very different that PTC. Tail call elimination, is transforming self recursive functions into loops and that doesn't cause debugging/stack frame issues.   PTC says that if the return value isn't consumed by the function, it is removed fro

[2018-11-07 15:46] concavelenz commented on #23
@PinkaminaDiane  I agree PTC is in an unfortunate state.  It should be removed from the standard as it would have never reached the requirements for a Stage 4 proposal (two implementations).  This is a bug in the process: it is basically stuck in limbo until either Apple or the other 3 major vendors change their minds.

The committee while producing ES2015, as an outside observer anyway,  was able

[2018-11-07 20:03] Pauan commented on #23
@concavelenz The drawbacks of missing stack frames *also* applies to self-recursive tail calls, and it *also* applies to function inlining, yet JS engines handle stack traces correctly even with inlined functions.

Also, the strategies @getify mentioned work equally well with full PTC. They have been used in many languages, including various Schemes, Common Lisp, Haskell, F#, OCaml, etc.

It's a l

[2018-11-07 21:02] pygy commented on #23
@concavelenz there doesn't have to be a perf penalty to all calls. Safari is still plenty fast (look at https://github.com/tc39/proposal-ptc-syntax/issues/23#issuecomment-386919365 which compares while loops with a functional `_while(conditionFn, bodyFn)` functional equivalent).

Having PTC fast and per spec would add extra work for the Chakra team (Michael Saboff spent one month changing calling

[2018-11-07 21:43] concavelenz commented on #23
Function inlining however is static and you can recreate stack traces.  I expect TCO lose stack information (I haven't looked if optimizers try to recreate it, it doesn't seem worth while) , but it doesn't lose how you got there. The loss of stack information may prevent various VMs/optimizers from doing TCO (I don't really know).   PTC, however, can be dynamic you have to record something to crea

[2018-11-07 22:27] Pauan commented on #23
Yes, [that's called a "shadow stack"](https://bugs.webkit.org/attachment.cgi?id=274472&action=review) (the link describes Safari/Webkit's implementation of PTC):

It's what @getify was talking about. This is a common technique which has been used in many VMs for *decades*. There are well-known solutions. This is not some new or experimental thing.

[2018-11-07 22:54] pygy commented on #23
Reading the ChakraCore issue, the problem does look intricate. One of the issues comes from the fact that they use C++ exceptions to propagate JS errors, which binds them to the Windows ABI. On x64, it prevents one from messing with the stack pointer.

[code]

IIUC, in the case above, with the current ChakraCore impl, the `bar()` frame can't be grown to accomodate the extra parameters passed to `f

[2018-11-09 06:51] concavelenz commented on #23
@Pauan The "shadow stack" is only used in Safari's devtools (please correct me if I wrong about this) because it has significant performance impact to maintaining otherwise.   You can get an accurate-ish stack or good performance with PTC but not both.   Without PTC, you get good performance and a good stack.

[2018-11-09 08:07] Pauan commented on #23
@concavelenz I'm obviously not an expert on the Webkit code, but I took a glance over at their shadow stack implementation, and as far as I can see it is always enabled. However, that is an old patch, so maybe things have changed since then.

But I suspect they *do* have it always enabled, even with the devtools closed, otherwise `Error.prototype.stack` would break (which means we would have heard

[2018-11-09 08:21] PinkaminaDianePie commented on #23
According to http://gs.statcounter.com Safari market share is about 15%. Have you seen a lot of bug reports from lib/framework developers? Website developers who collect stack traces? Do 15% of users have "broken web" experience? I can't actually decide for myself if it's funny or annoying to hear lots of times that PTC will break the web - 15% of users have PTC for months (or even years, I don't

[2018-11-10 07:43] concavelenz commented on #23
(1) To be clear PTC only applies to strict mode code, it would break arguments.caller in non-strict code.  A lot of the web today doesn't run 'strict'.  So saying 15% is an great overestimate.  PTC doesn't "break the web" (pages still render) but it does make maintaining complex application harder and for folks running servers on Node having lousy stack traces is a real concern.   I personally rem

[2018-11-12 06:07] elibarzilay commented on #23
@concavelenz: Your two point in (1) are greatly exaggerated.  First, it *is* the market share of Safari (15% or whatever it is): if only 50% of "the web" is in non-strict mode, then it's half that, but it's also half the problem in Chrome.  (In other words, the distribution of non-strict sites does not depend on the agent used.)

Second, I keep being amazed at these claims in the spirit of "lousy

[2018-11-12 10:07] kaizhu256 commented on #23
@elibarzilay, asynchronous recursion using callbacks/promises/generators/etc is O(1) with the [single] caller-frame discarded after the process-tick.  PTC is irrelevant in this case.

[2018-11-12 10:23] kaizhu256 commented on #23
tbh, i'm slightly anti-PTC (but not strongly), because when troubleshooting hard-to-diagnose integration-level bugs, i'm paranoid about magic messing with stack-traces and screwing-up telemetry (regardless of assurances otherwise).

PTC doesn't add value to my personal use-cases for recursion which are exclusively either O(1) (async), or O(log(n)) (depth-first tree-traversals).

for O(n**constant)

[2018-11-12 17:49] concavelenz commented on #23
@elibarzilay
RE: Strict mode
My point is that measuring the impact, you need to be aware of whether the code is strict and you should expect that the percentage of impacted code will only increase over time as folks ship more and more ES2015 code native (without transpiling ES6 class and ES6 module).   If you don't know how much of your code is strict, you don't know how much this could impact you

[2018-11-12 18:27] getify commented on #23
That is not actually what's required. Here's the relevant part of the spec:

First, this doesn't require elimination of a frame. It only talks about freeing up resources. That's a subtle but important difference, which implementations like Safari seem to have taken to allow things like the Shadow Stack.

But further, I maintain that rather than being concerned about the letter of the law, the spir

[2018-11-12 18:45] kaizhu256 commented on #23
python's creator [in]famously rejected TCO in a 2006 blog-post [1]:

"This is also the reason why Python will **_never_** have continuations, and even why I'm uninterested in optimizing tail recursion."

it caused some brouhaha back in the day (similar to what's going on in this thread) [2].

[1] original-quote from python-creator's 2006 blog-post "Language Design Is Not Just Solving Puzzles"
http

[2018-11-12 20:55] elibarzilay commented on #23
@kaizhu256: it *might* be that some promises are forced in async-ly in a different tick and therefore there is no problem with tail calls, but that might not always be the case.  For example, this code (or some similar variant):

    const loop = n =>
      new Promise((res,rej) => res((n > 0) ? loop(n-1) : Promise.resolve(n)));

should be a loop even though there's no such deferring.  But more ge

[2018-11-13 03:31] concavelenz commented on #23
@getify I fully understand why folks want tail recursion.  The text requires that everything be reused or released, nothing remains of the stack frame.  The implementation of the shadow stack has nothing to do with that text.

@elibarzilay RE: (2) recording the context for every function that has a call in the tail position is impractical, as it involves recording the stack trace, which is expensi

[2018-11-13 21:48] elibarzilay commented on #23
Well, you brought it up...  It can be expensive, but you have mentioned the optional shadow stack thing...

And in *that* context I obviously cared only about runtime, since I was talking about one common concern about the usability of flame graphs.  (And further, in a statistical profiler context you generally don't care about precise information which is why the random stack polling works fine.)

[2018-11-20 06:25] hax commented on #23
This thread is very unfortunate that nothing we (programmers) can do except waiting. But I still want to share my thought about PTC vs STC.

1. I agree that any action is better than no action.
2. I think tail call is important for FP, without it, JS can never have real support FP even we add many FP features like pipeline operator.
3. I prefer STC. The problem of PTC is, it's too implicit. If som

[2018-12-18 18:03] sbuller commented on #23
'consistent-return' seems a little misguided here. Proper type checking reveals that the types remain consistent in your example.

I regularly notice when my code would benefit from TCO, and it's disappointing to know that there's this misguided resistance to it. There's a long history to TCO, and its absence in JS is a serious deficiency.

[2018-12-18 19:24] pygy commented on #23
What more, the technical reason for not adding them (the ChakraCore engine having the wrong calling conventions hardwired) is soon going away since MS is co-opting Chromium.

The other technical problem isn't really one (cross-realm calls can't be eliminated in Firefox) since that can be spec'ed around.

[2019-01-09 17:35] jswalden commented on #23
Last I heard, ChakraCore will continue to exist as a JS engine for use in any number of projects not including a browser, so that point doesn't quite work out that way.

[2019-02-06 15:45] thysultan opened #24 "Allowing "non-eligible" tail calls"
Not throwing in non-tail call eligible tail calls surfaces an opportunity to support the collapsing of stack traces.

This is related to:

Instead of throwing/warning. There's often a use case for library authors to attempt to remove as much as possible of the library specific "call-stack" from the stack trace, especially in production. For example [Firefox](https://hacks.mozilla.org/2017/05/debug

[2019-02-06 16:45] ljharb commented on #24
That’d need to be an entirely separate proposal, and since stacks aren’t in the language yet pending https://github.com/tc39/proposal-error-stacks, it might be a bit too soon for it.

[2019-02-06 16:59] thysultan commented on #24
It is however predicated on "ptc syntax" at least considering this in its design if we are to avoid yet another syntax grammar provisioned for  the stack traces case; assuming that is a desirable goal to begin with.

[2019-02-06 17:00] ljharb commented on #24
I don’t see how; the use case for opting out of stack frames applies to all functions, with or without tail call usage.

[2019-06-15 00:34] sarimarton commented on #23
Once PTC starts to spread in practice due to its actual availability, and it eventually becomes a problem to identify TCs in code, IDEs will very quickly kick in with syntax highlight help - just as they do with dead code by fading it.

[2019-06-15 06:16] hax commented on #23
@sarimarton Not everyone in a team use same IDE/editor. And lightweight editors, tools may not identify TCs easily without full AST parsed.

[2019-06-15 06:52] kaizhu256 commented on #23
i write code exclusively in vim (and use a customized version of jslint that allows ignoring foreign code-blocks)

[2019-06-15 08:58] littledan commented on #23
I have a feeling that we might be able to make more progress on explicit tail call syntax in JavaScript. If everyone able to think through and agree on a syntax, I think it'd be worth bringing back to TC39 to see if we can get consensus on pursuing this proposal.

[2019-06-17 05:15] elibarzilay commented on #23
@sarimarton, yes -- identifying tail calls is in most cases extremely simple, *almost* to the point of regexp-ing it.  With a parser it becomes straightforward.

@littledan, the problem is not in agreeing on a syntax -- the *real* problem is the fact that "opt-in" syntax is going to nullify much of the point of tail calls.  See the last bullet in [my original post](https://github.com/tc39/proposal

[2019-06-17 05:22] littledan commented on #23
Well, if we can't agree on a syntax, I imagine the current situation will remain as is.

[2019-06-17 06:33] elibarzilay commented on #23
@littledan, please see that comment that I pointed to: the problem is not the syntax, it's the fact that you'll need to modify code to "opt into" a tail call, which would lead to situations like what I describe there.  (IOW, this is an objection to *any* explicit syntax for tail calls.)

[2019-06-17 06:43] ljharb commented on #23
I'm still not clear on why that's an obstacle - libraries needing to change their code is a temporary problem, as new code would theoretically be written with the explicit syntax where desired.

[2019-06-17 07:54] elibarzilay commented on #23
I'll try to explain it with an actual (but very simple) example.

* I implement a useful `text-lines` library, which has:

[code]

* You use this libray in:

[code]

* Your code is perfectly fine, except that it's broken because my code doesn't use `continue`.  You'll ask me nicely, but I don't want to complicate my code with strange keywords, or I need the code to work on older JS engines, or my

[2019-06-17 07:58] ljharb commented on #23
You could also imagine the syntax enabling proper tail calls for the entire stack it generates - avoiding the need to add the keyword all the way down.

[2019-06-17 08:06] elibarzilay commented on #23
That sounds interesting, but it's not what's suggested in *this* proposal...

(Sidenote: I imagine that you're talking about something that happens at the *beginning* of the stack since going the other way is impossible.  Something that I thought could work is some `"use strict and tail"` declaration where all code under it creates a *dynamic stack context* that makes all later calls be tail calls

[2019-06-17 08:09] PinkaminaDianePie commented on #23
Enabling the entire stack it generates? Why not go other way and have PTC but provide unfolded stack trace when required? So my app will have PTC, but if i'll struggle with something, I will be able to enforce unfolded stack trace, debug my app, and disable it back again? But having ETC keyword which enables PTC for stack trace is fine enough if I will be able to do it once at the root of my app (

[2019-06-17 12:46] getify commented on #23
I prefer "implicit PTC" (current spec) but with revised wording that would widen the possibilities for various engine implementations, as discussed earlier in this thread.

However, it seems almost impossible for that to ever happen from the current state. The years-long stalemate is bad for JS and for engines.

As for whether TC39 could remove PTC without consensus, I have changed my mind from ea

[2019-06-17 15:48] ljharb commented on #23
That is not within the power of an editor - every delegate has standing to block anything for any reason, including removing PTC from the spec. Consensus is required for normative changes, which is why we’re in the stalemate we’re now in.

I agree that no progress can be made until PTC is removed.

[2020-04-04 13:12] joshnuna commented on #1
Why not **implement it now* and use a *directive* like `"use strict"`

That way people that know what tco is and dont want to do a huge refactor to their code to remove all the treampolines when this *FINALLY* lands can stop waiting for people to flame each other and get on with their lives????

[code]

[2021-08-19 08:17] fselcukcan opened #25 "Disable Tail Call Optimizations (When Developer Tools are open)"
Instead of syntactic tail call optimizations or no TCO, can we not have a Developer Tools opiton to debug TCO, for a function, a block of code, or entire program. We have similar Developer Tool switches like Disable Cache (When Developer Tools are open). Disable Tail Call Optimizations (When Developer Tools open), and context menu toggle option on functions to disable TCO when devtools are open.

[2021-08-19 08:41] fselcukcan commented on #23
I just do not understand why we cannot have an important programming feature like TCO (not the syntactical proposal, but natural as it supposed to be) due to some claims that it has negative effects on somethings which does not have much ground as we have seen in different threads so far.

- debugging
- education?. Gee, Are you serious!?
Ok sorry let me rephrase that. Gee, are you serious!?
- what

[2021-08-19 15:38] ljharb commented on #25
This is up to each individual browser; since only safari ships tail calls, you’ll have to file a bug with them.

Also, PTC or STC, not TCO; it’s not an optimization.

[2021-08-19 15:40] ljharb commented on #25
Having such behavior would actually be quite harmful - because it would mean your site behaves very differently when dev tools is open than when it’s closed.

[2021-08-20 10:29] fselcukcan commented on #25
Agh, sorry if I have lead to confusion but I meant some sorts of optimizations, defined by a spec, for recursive functions (procedures) that is written with tail calls. And they are known to be optimizable relatively easier.

I do not much refer to the way recursive code is written here, Proper Tail Calls or Syntactical Tail Calls. It is just the way you write the code. Though, I definitely do not